* {
	font-family: Sans;
}
body{
	margin: unset;
}

.hor_form {
	display: block;
}
.hor_form > input, select, textarea {
	margin: 5px;
	display: block;
}

textarea {
	width: 350px;
}

.content {
	width: fit-content;
	margin: 10px auto;
	padding: 10px;
	background: #f0f0f0;
}
.content > a {
	display: block;
	margin: 10px;
}

a {
	text-decoration: none;
}

tr:nth-child(even) {
	background: #BDD3D5;
}

th, td {
	padding: 15px;
}

table {
	border-collapse: collapse;
}

header {
	background: #004040;
	color: #f0f0f0;
	font-weight: bold;
	padding: 20px;
}

span.user {
}

span.links {
	float: right;
	margin: auto auto;
}

span.links > a {
	color: #f0f0f0;
	padding: 10px;
	border-radius: 15px;
}

span.links > a:hover {
	color: #c0c0c0;
}

input {
	display: block;
}
